@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background: 
    linear-gradient(-45deg, rgba(0, 236, 253, 0.3), #5facf3cc);
    /* url('./Static/img/2.jpeg'); */
  background-attachment: fixed;
  background-size: cover; 
  color: #eeeeff;
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.notesWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.notesHeader {
  display: flex;
  flex: 1 1 7.5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  color: #F4B350;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
  display: block;
}

.notesBody {
  /* height: 100%; */
  padding-top: 24px;
  flex: 1 1 85%;
  overflow: auto;
}

.notesFooter {
  display: flex;
  flex: 1 1 7.5%;
  justify-content: center;
  /* align-items: center; */
  background-color: rgba(0,0,0,0.5);
}

